@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 45px 200px 100px 200px;
    gap: 50px;
    justify-content: space-between;
    background-color: #1F2937;
}

.heroword {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.small {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 5px;
}

button {
    background-color: #3882F6;
    /* border: 0; */
    color: white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 120px;
    cursor: pointer;
}

.firstbutton {
    border: 0;
}

.secondbutton {
    border-color: white;
    border-style: solid;
}

.heroimg img {
    height: 215px;
    width: 500px;
}

.infoheader { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    padding: 50px 0 30px 0;
}


.infocontainer {
    display: flex;
    padding: 30px 200px 130px 200px;
    justify-content: center;
    gap: 50px;
}

.infocontainer img {
    height: 150px;
    width: 200px;
}

.info {
    max-width: 200px;
}

.text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 150px 200px;
    background-color: #e5e7eb;

}

.quoteword {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 0 150px;
}

.person {
    display: flex;
    justify-content: flex-end;
    padding: 0 200px;
    padding-top: 15px;
    font-weight: 800;
    font-size: 18px;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 200px;
    padding: 30px 75px;
    background-color: #3882F6;
    border-radius: 6px;
}

.adtextone {
    color:#F9FAF8;
    font-weight: 700;
    font-size: 18px;
}

.adtexttwo {
    color:#e5e7eb;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px 0;
}

img {
    border-radius: 10px;
}